---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

.center {
	margin: auto;
	text-align: center;
}

#scrollbubble {
	display: none;
	position: fixed;
	bottom: 35px;
	right: 20px;
	z-index: 500;
	background-color: #F0F0F0;
	color: #808080;
	border-radius: 3px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 20px;
	font-family: "Open Sans", sans-serif;
}

#scrollbubble:after {
	content: " ";
	position: absolute;
	top: 50%;
	right: -8px;
	height: 0;
	width: 0;
	margin-top: -4px;
	border: 4px solid transparent;
	border-left-color: #F0F0F0
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
