---
layout: default
post_class: post-template page-template
---

<nav class="main-nav no-cover clearfix">
    <a class="back-button icon-arrow-left" href="/">Home</a>
    <a class="subscribe-button icon-feed" href="/feed.xml">RSS</a>
    <a class="subscribe-button" href="/archive.html">Archives</a>
    <a class="subscribe-button" href="/about.html">About Me</a>
</nav>


<main class="content" role="main">
    <article class="post">

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
